.add-dog-processing-page {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #3479C0;
}

.outer-circle {
    width: 100%;
    position: relative;   
    left: 50%;
    transform: translate(-50%);
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 380px;
    height: 380px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation-name: footprint-appear;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
}

.circle-container {
    /* background-color: aqua; */
    width: 200px;
    height: 240px;
    position: absolute;
    /* position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; */   
}

.footprint-container {
    /* width: 183px;
    height: 220px; */
    width: 100%;
    height: 80%;
    /* background-color: orange; */
    position: relative;
    /* margin: auto; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* opacity: 0.8; */
}

@keyframes footprint-appear {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

.text-container {
    width: 100%;
    padding-top: 10px;
    /* height: 20%; */
    /* height: 220px;
    width: fit-content; */
    text-align: center;
    height: fit-content;
    /* background-color: orange; */
    position: absolute;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* opacity: 0.8; */
}

.processing-text {
    font-weight: bold;
    font-size: 24px;
}

.dog-footprint-img {
    width: 77px;
    height: 82px;
}

.one {
    /* background-color: red; */
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    animation: image-appear 3s linear infinite 1.25s;

}

.two {
    /* background-color: purple; */
    z-index: 9;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: image-appear 3s linear infinite 1.75s;
}

.three {
    /* background-color: pink; */
    z-index: 9;
    position: absolute;
    top: 70%;
    left: 100%;
    transform: translateX(-100%) translateY(-70%);
    animation: image-appear 3s linear infinite 1.5s;
}

@keyframes image-appear {
  /* appear */
  25%  {opacity: 1;}
  /* disappear */
  100% {opacity: 0;}
}