.sign-up-page {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #3479C0;
}

.align-center {
    width: 100%;
    position: relative;   
    left: 50%;
    transform: translate(-50%);
    padding-top: 5%;
    padding-bottom: 5%;
}


.sign-up-container {
    width: 80%;
    height: fit-content;
    background-color: white;
    /* text-align: left; */
    border-radius: 40px;
    padding: 50px;
    border: white 10px solid;
    position: relative;   
    left: 50%;
    transform: translate(-50%);
}

.sign-up-header-container {
    /* background-color: red; */
}

.sign-up-header {
    display: inline-block;
    vertical-align: middle;
}

.sign-up-icon {
    vertical-align: middle;
    margin-right: 20px;
}

.input-styling {
    width: 280px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #999999;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cancel-btn {
    width: 100px;
    height: 40px;
    color: #999999;
    background-color: white;
    font-size: 16px;
    border: #999999 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.sign-up-btn {
    width: 100px;
    height: 40px;
    color: white;
    background-color: #3479C0;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-right: 20px; */
}

.cancel-btn:hover {
    color: white;
    background-color: #999999;
    cursor: pointer;
}

.sign-up-btn:hover {
    color: #3479C0;
    border: #3479C0 1px solid;
    background-color: white;
    cursor: pointer;
}

.add-photo-msg {
    text-align: center;
}

.role-dropbtn {
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: #999999;
    background-color: white;
    font-size: 16px;
    border: #999999 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
}
  
.role-dropdown {
    /* position: relative; */
    display: inline-block;
    width: 300px;
}
  
.role-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 300px;
    z-index: 1;
    border-radius: 10px;
    border: #999999 1px solid;
}
  
  .role-dropdown-content a {
    color: #999999;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .role-dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;    
}
  
  .role-dropdown:hover .role-dropdown-content {
    display: block;
  }

  .role-arrow {
    border: solid #999999;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

/* container */
.sign-two-columns-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-gap: 40px; */
    /* background-color: red; */
    padding-top: 30px;
}

/* columns */
.sign-two-columns-grid > * {
    /* padding:1rem; */
}

.sign-up-col-1 {
    /* background-color: pink; */
    width: fit-content;
}

.sign-up-col-2 {
    /* background-color: purple; */
}

.sign-up-two-columns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: green; */
    grid-gap:1px;
    row-gap: 10px;
    padding: 1px;
}

.sign-up-two-columns-grid > * {
    /* background-color: orange; */
    height: 40px;
    display: flex;
    align-items: center;
}

.buttons {
    width: 200px;
    display: inline;
}

.button-container {
    text-align: right;
}

.profile-container {
    width: 200px;
    height: 200px;
    background-color: #BDD3E8;
    border: 5px solid #BDD3E8;
    overflow: hidden;    
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

