.add-chat-page {
    width: 100%;
    height: fit-content;
    background-color: #BDD3E8;
    color: black;
    border-radius: 20px;
    padding: 20px 0;
    /* margin: 65px 0 0 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-chat-page-content {
    width: calc(100% - 40px);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
}

.add-chat-header {
    font-size: 24px;
    padding: 0 0 20px 0;
}

.summary-div {
    padding-bottom: 20px;
}

.chat-input-styling {
    width: calc(100% - 20px);
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 0 10px;
    margin-top: 10px;
}

.paragraph {
    resize: none;
    width: calc(100% - 20px);
    height: 120px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.chat-submit-div {
    display: flex;
}

.error-msg-div {
    width: 100%;
    color: red;
    font-size: 12px;
    display: flex;
    padding-top: 5px;
}

.button-div {
    width: 100%;
    display: flex;
    justify-content: right;
}

.post-btn {
    margin-top: 10px;
}

.post-btn:hover {
    background-color: white;
    border: 1px solid white;
}