.add-dog-processing-page {
    width: 100vw;
    height: 100vh;
    background-color: #3479C0;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outer-circle {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 380px;
    height: 380px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container {
    width: 200px;
    height: 240px;
    position: absolute;
}

.footprint-container {
    width: 100%;
    height: 80%;
    position: relative;
}

.processing-text {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}

.dog-footprint-img {
    width: 77px;
    height: 82px;
}

.one {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    animation: image-appear 3s linear infinite 1.25s;
}

.two {
    z-index: 9;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: image-appear 3s linear infinite 1.75s;
}

.three {
    z-index: 9;
    position: absolute;
    top: 70%;
    left: 100%;
    transform: translateX(-100%) translateY(-70%);
    animation: image-appear 3s linear infinite 1.5s;
}

@keyframes image-appear {
    /* appear */
    25% {
        opacity: 1;
    }
    /* disappear */
    100% {
        opacity: 0;
    }
}