.nav-bar {
    width: 100vw;
    height: 40px;
    background-color: #3479C0;
    padding: 15px 0 10px 0;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.col-left {
    width: 100%;
    text-align: left;
    padding-left: 15px;
}

.col-mid {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-mid-right {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: right;
}

.col-right {
    width: 50%;
    text-align: right;
    padding-right: 15px;
}

.navbar-logo {
    max-width: 100px;
}

.navbar-icon {
    max-height: 40px;
    padding-bottom: 5px;
}

.navbar-link-text {
    color: white;
    margin-left: 10px;
}

.navbar-link-button {
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: #3479C0;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-link-button-2 {
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: #3479C0;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-link-button:hover {
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: #3479C0;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 0;
}

.navbar-link-button-2:hover {
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: #3479C0;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 0;
}

.account-settings-align {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: right;
    float: right;
}

@media (max-width: 700px) {
    .navbar-link-button {
        display: none;
    }
}

.navbar-link-button:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.line-1 {
    display: block;
    font-size: 16px;
    text-align: right;
    padding-top: 5px;
}

.line-2 {
    display: block;
    font-size: 10px;
    text-align: right;
}

.b-container {
    display: flex;
    align-items: start;
    justify-content: center;
}

.my-account-icon-align-2 {
    margin-left: 10px;
}

/* Dropdown Button */
.sign-out-dropbtn {
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: transparent;
    font-weight: bold;
    border: none;
    padding: 0;
    text-align: left;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.sign-out-dropbtn:hover,
.sign-out-dropbtn:focus {
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: transparent;
    font-weight: bold;
    border: none;
    padding: 0;
    text-align: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.sign-out-btn {
    display: none;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    position: absolute;
    color: black;
    background-color: #BDD3E8;
    border: 1px solid #BDD3E8;
    border-radius: 10px;
    z-index: 1;
    right: 0;
    margin-top: 5px;
}

/* Dropdown Content (Hidden by Default) */
.sign-out-btn:hover {
    color: black;
    text-decoration: underline;
}

.sign-out-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: bottom;
}